In [583]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/cardekho-used-car-data/cardekho_dataset.csv

In [584]:
cars = pd.read_csv('/kaggle/input/cardekho-used-car-data/cardekho_dataset.csv')

In [585]:
cars

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [586]:
cars.drop(columns = ['Unnamed: 0'], inplace = True)

In [587]:
cars

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [588]:
cars = cars.drop(columns = ['brand','model'], axis = 1)

In [589]:
ccount = cars['car_name'].value_counts()

In [590]:
ccount = ccount[ccount > 50]

In [591]:
cars['car_name'] = cars['car_name'].apply(lambda s : None if s not in ccount else s)

In [592]:
ccount = cars['vehicle_age'].value_counts()
ccount = ccount[ccount > 15]

In [593]:
cars['vehicle_age'] = cars['vehicle_age'].apply(lambda s : None if s not in ccount else s)

In [594]:
cars['vehicle_age'].value_counts()

4.0     2252
5.0     2117
3.0     1926
6.0     1924
7.0     1438
8.0     1282
2.0     1145
9.0     1027
10.0     710
11.0     551
12.0     293
13.0     237
1.0      221
14.0     129
15.0      90
16.0      25
17.0      17
Name: vehicle_age, dtype: int64

In [595]:
ccount = cars['km_driven'].value_counts()
ccount = ccount[ccount > 10]

In [596]:
cars['km_driven'] = cars['km_driven'].apply(lambda s : None if s not in ccount else s)

In [597]:
cars

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9.0,120000.0,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5.0,20000.0,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11.0,60000.0,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9.0,37000.0,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6.0,30000.0,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...
15406,Hyundai i10,9.0,NaN,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,Maruti Ertiga,2.0,18000.0,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,Skoda Rapid,6.0,67000.0,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,Mahindra XUV500,5.0,NaN,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,Honda City,2.0,13000.0,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [598]:
cars['seller_type'] = cars['seller_type'].apply(lambda s : 0 if s == 'Dealer' else 1)

In [599]:
cars['transmission_type'] = cars['transmission_type'].apply(lambda s : 0 if s == 'Manual' else 1)

In [600]:
ccount = cars['mileage'].value_counts()
ccount = ccount[ccount < 10]

In [601]:
cars['mileage'] = cars['mileage'].apply(lambda x : None if x in ccount else x)

In [602]:
ccount = cars['engine'].value_counts()
ccount = ccount[ccount < 10]

In [603]:
cars['engine'] = cars['engine'].apply(lambda x : None if x in ccount else x)

In [604]:
ccount = cars['max_power'].value_counts()
ccount = ccount[ccount < 10]

In [605]:
cars['max_power'] = cars['max_power'].apply(lambda x : None if x in ccount else x)

In [606]:
ccount = cars['seats'].value_counts()
ccount = ccount[ccount < 10]

In [607]:
cars['seats'] = cars['seats'].apply(lambda x : None if x in ccount else x)

In [608]:
cars = cars.dropna()
cars = cars.drop_duplicates()

In [609]:
cars

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9.0,120000.0,1,Petrol,0,19.70,796.0,46.30,5.0,120000
1,Hyundai Grand,5.0,20000.0,1,Petrol,0,18.90,1197.0,82.00,5.0,550000
2,Hyundai i20,11.0,60000.0,1,Petrol,0,17.00,1197.0,80.00,5.0,215000
3,Maruti Alto,9.0,37000.0,1,Petrol,0,20.92,998.0,67.10,5.0,226000
4,Ford Ecosport,6.0,30000.0,0,Diesel,0,22.77,1498.0,98.59,5.0,570000
...,...,...,...,...,...,...,...,...,...,...,...
15401,Maruti Swift,3.0,25000.0,1,Petrol,1,22.00,1197.0,81.80,5.0,590000
15402,Honda Amaze,6.0,28000.0,0,Diesel,0,25.80,1498.0,98.60,5.0,525000
15407,Maruti Ertiga,2.0,18000.0,0,Petrol,0,17.50,1373.0,91.10,7.0,925000
15408,Skoda Rapid,6.0,67000.0,0,Diesel,0,21.14,1498.0,103.52,5.0,425000
15410,Honda City,2.0,13000.0,0,Petrol,1,18.00,1497.0,117.60,5.0,1200000

In [610]:
cars['car_name'].value_counts()

Hyundai i20              660
Maruti Swift Dzire       635
Maruti Swift             553
Maruti Alto              531
Honda City               526
Maruti Wagon R           481
Hyundai Grand            386
Toyota Innova            351
Hyundai Verna            324
Hyundai i10              276
Hyundai Creta            260
Volkswagen Polo          239
Maruti Baleno            238
Mahindra XUV500          236
Maruti Ertiga            231
Honda Amaze              229
Maruti Ciaz              228
Ford Ecosport            225
Maruti Vitara            221
Renault KWID             211
Mahindra Scorpio         195
Ford Figo                179
Volkswagen Vento         160
Mahindra Bolero          152
Maruti Celerio           146
Renault Duster           142
Skoda Rapid              129
Toyota Fortuner          110
BMW 3                    107
Tata Tiago               101
Honda Jazz               100
Hyundai Santro            87
Maruti Eeco               83
Tata Safari               71
BMW 5                     70
Mercedes-Benz E-Class     69
Tata Nexon                68
Mercedes-Benz C-Class     65
Honda WR-V                63
Audi A4                   61
Skoda Superb              60
Datsun GO                 57
Maruti Ignis              51
Mahindra KUV              50
Mahindra Thar             44
Honda Civic               44
Datsun RediGO             43
Hyundai Venue             42
Ford Aspire               39
Audi A6                   37
BMW X1                    35
Jaguar XF                 35
Skoda Octavia             29
Land Rover Rover          12
Name: car_name, dtype: int64

In [624]:
features = cars.drop(columns=['selling_price'])
targets = cars['selling_price']

In [626]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score

In [627]:
features_train, features_test, targets_train, targets_test = train_test_split(features, targets, test_size = 1/3, random_state = 0)

In [633]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['car_name','fuel_type']), remainder='passthrough')
scaler = StandardScaler()
lr = Ridge()
pipe = make_pipeline(column_trans, scaler, lr)
pipe.fit(features_train, targets_train)

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['car_name', 'fuel_type'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [634]:
y_pred = pipe.predict(features_test)
print('R2 score = ',r2_score(targets_test,y_pred))

R2 score =  0.8092563005194152

In [635]:
print(features_train)

               car_name  vehicle_age  km_driven  seller_type fuel_type  \
13839      Maruti Swift         12.0   100000.0            1    Petrol
7961          Ford Figo          3.0    60000.0            1    Petrol
14358       Maruti Alto         15.0    80000.0            1    Petrol
4177      Hyundai Verna          3.0    75000.0            0    Diesel
3683       Maruti Swift          6.0    50000.0            1    Petrol
...                 ...          ...        ...          ...       ...
12481       Hyundai i20          3.0    34000.0            0    Petrol
14556  Volkswagen Vento          8.0    44000.0            1    Petrol
7703        Hyundai i20          4.0    54000.0            0    Petrol
5185    Volkswagen Polo          2.0    18000.0            0    Petrol
4300        Maruti Alto          7.0    56000.0            0    Petrol

       transmission_type  mileage  engine  max_power  seats
13839                  0    16.10  1298.0      88.20    5.0
7961                   0    18.16  1196.0      86.80    5.0
14358                  0    19.70   796.0      46.30    5.0
4177                   0    22.00  1582.0     126.20    5.0
3683                   0    20.40  1197.0      83.11    5.0
...                  ...      ...     ...        ...    ...
12481                  0    18.60  1197.0      81.83    5.0
14556                  0    15.04  1598.0     103.60    5.0
7703                   0    18.60  1197.0      81.83    5.0
5185                   0    18.78   999.0      75.00    5.0
4300                   0    22.74   796.0      47.30    5.0

[6518 rows x 10 columns]

In [655]:
cars['car_name'].value_counts()

Hyundai i20              660
Maruti Swift Dzire       635
Maruti Swift             553
Maruti Alto              531
Honda City               526
Maruti Wagon R           481
Hyundai Grand            386
Toyota Innova            351
Hyundai Verna            324
Hyundai i10              276
Hyundai Creta            260
Volkswagen Polo          239
Maruti Baleno            238
Mahindra XUV500          236
Maruti Ertiga            231
Honda Amaze              229
Maruti Ciaz              228
Ford Ecosport            225
Maruti Vitara            221
Renault KWID             211
Mahindra Scorpio         195
Ford Figo                179
Volkswagen Vento         160
Mahindra Bolero          152
Maruti Celerio           146
Renault Duster           142
Skoda Rapid              129
Toyota Fortuner          110
BMW 3                    107
Tata Tiago               101
Honda Jazz               100
Hyundai Santro            87
Maruti Eeco               83
Tata Safari               71
BMW 5                     70
Mercedes-Benz E-Class     69
Tata Nexon                68
Mercedes-Benz C-Class     65
Honda WR-V                63
Audi A4                   61
Skoda Superb              60
Datsun GO                 57
Maruti Ignis              51
Mahindra KUV              50
Mahindra Thar             44
Honda Civic               44
Datsun RediGO             43
Hyundai Venue             42
Ford Aspire               39
Audi A6                   37
BMW X1                    35
Jaguar XF                 35
Skoda Octavia             29
Land Rover Rover          12
Name: car_name, dtype: int64

In [658]:
test = {'car_name':'Mahindra Thar','vehicle_age':1.0,'km_driven':24853,'seller_type':1,'fuel_type':'Petrol','transmission_type':0,'mileage':15.2,'engine':1997,'max_power':130,'seats':5}
test = pd.DataFrame(test,index=[0])

In [659]:
pipe.predict(test)

array([1114550.46769814])